.overscreen-menu > .mobile-top-nav > .burger.clicked {
    background: url("../images/cross.png") no-repeat;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 15px;
}
.overscreen-menu > .mobile-top-nav > .burger.clicked > span {
    display: none;
}