body {
    font: 15px "Open Sans", Calibri, Tahoma, Verdana, sans-serif;
    color: #5b5b5b;
    height: auto;
    min-width: 0;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-header {
    background-position: center top;
    width: auto;
    height: 740px;
    position: relative;
    background: url(../images/home-top.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.main-header > .video-container {
    display: none;
}

.header-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 166px;
    /*background: linear-gradient(to bottom, black, transparent);*/
    background-image: linear-gradient(180deg, rgba(37, 37, 37, 0.6) 0%, rgba(37, 37, 37, 0.2) 68%, rgba(37, 37, 37, 0) 100%);
    z-index: -1;
}
.main-header .logo {
    position: relative;
    margin: 0 auto;
    width: auto;
    height: auto;
}
.main-header .logo img {
    width: 260px;
    height: 147px;
    margin: 0 auto;
}
/*.logo img {*/
/*width: 370px;*/
/*height: auto;*/
/*}*/
.menu-wrapper {
    padding: 32px 3vw 30px 10vw;
    margin: 0 auto;
}
/*.main-header .mobile-menu-wrapper {*/
/*display: none;*/
/*}*/

.main-menu {
    /*position: absolute;*/
    /*top: 22px;*/
    /*left: 12%;*/
    width: 100%;
    /*padding: 20px 200px;*/
}
.main-menu-item {
    float: left;
    margin-right: 1.8vw;
    font: 18px "PT Sans Narrow", Arial, sans-serif;
    font-weight: 400;
    color: #c1d7e6;
}
.main-menu-item#menu-booking {
    flex-grow: 1;
}
.main-menu-item:last-child {
    margin-right: 60px;
}
.main-menu-item.soc-icons {
    margin: 0 10px;
}
.main-menu-link {
    color: #c1d7e6;
    /*text-transform: uppercase;*/
    font-size: 18px;
}
.main-menu-item#menu-contacts a {
    color: #ffffff;
}

.main-menu-item#menu-booking a {
    color: #00a9db;
}
.mobile-menu-wrapper {
    display: none;
}
.overscreen-menu {
    display: none;
}
.landing-content {
    margin: 190px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.race-schedule-mobile {
    display: none;
}
.main-header .slogan {
    font-size: 31px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 230px 0;
    line-height: 1.5;
}
.main-header p {
    max-width: 800px;
    height: auto;
    margin: 15px auto 10px;
    font: 18px "Open Sans", Calibri, Tahoma, Verdana, sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: white;
    text-align: center;
}
.content-separator {
    margin: 60px 0 30px;
}
.content-separator#route {
    margin: 30px 0;
}
.buttons-centered {
    display: flex;
    /* width: 675px; */
    margin: 70px auto 0;
    justify-content: space-evenly;
}
.btn.h60 {
    height: 60px;
    line-height: 60px;
    font: 18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*padding: 18px 50px;*/
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
}
.btn.secondary.h60 {
    margin-left: 30px;
    background-color: white;
    color: #00a9db;
    /*padding: 18px 94px;*/
}
a.btn.secondary.h60:hover {
    background-color: #eee;
    color: #00547d;
}
main .description {
    margin: 50px 0;
}
main .description p {
    margin: 15px 18vw;
    text-align: center;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
.arrow-down {
    width: 45px;
    height: 20px;
    text-align: center;
    margin: 70px auto;
    opacity: .8;
    display: block;
    background: url("../images/arrow_down.svg");
    background-size: contain;
}
.arrow-down.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.map p {
    margin: 25px 15vw;
    font-weight:600;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}
.map img {
    width: 100%;
    height: 33vw;
    object-fit: cover;
}
tr.content .cell {
    font: 15px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.trip-table .content .cell {
    font-weight: 400;
}
.race-schedule {
    margin: 30px auto;
    width: auto;
}
.curs-content {
    margin: 0 auto;
}
.curs-content-mobile {
    display: none;
}
.inner-separator {
    height: 1px;
    width: 100%;
    border: #c0d9e6;
    background: #c0d9e6;
}
.curs-content + .inner-separator {
    margin: 50px 0;
}
.curs-content + .inner-separator:last-child {
    display: none;
}
.race-schedule .schedule-table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.race-schedule .schedule-table .body .cell {
    font-size: 16px;
}
.race-schedule .schedule-table .first {
    width: 5%;
}
.race-schedule .schedule-table .second {
    width: 45%;
}
.race-schedule .schedule-table .third {
    width: 25%;

}
.race-schedule .schedule-table .fourth {
    width: 25%;
}
.race-schedule .schedule-table .body .cell.fourth {
    padding: 0 15px;
}
.curs-content > .schedule-table > .body > .content > .first {
    font-weight: 600;
    color: #00a9db;
}
.curs-content > .schedule-table > .body > .content > .third {
    color: #00a9db;
}
.name .name-link {
    font-size: 27px;
    line-height: 32px;
    text-transform: uppercase;
}
/*.trip-description {*/
/*font-size: 12px;*/
/*line-height: 18px;*/
/*margin: -12px 0 37px;*/
/*}*/
/*.bx-wrapper {*/
/*margin: auto;*/
/*}*/
.stops-block h3 {
    color: #00547d;
    font-weight: 400;
}
.yacht {
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #00a9db;
    margin-top: 70px;
    padding-left: 15px;
}
.yacht-settings .photo-report-wrapper {
    margin-bottom: 14px;
    margin-top: 30px;
}
.big-image > img {
    width: 435px;
    height: 435px;
    object-fit: cover;
}
.small-image > img {
    width: 320px;
    height: 209px;
    object-fit: cover;
}
.yacht-model {
    width: 360px;
    color: #c0d9e6;
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    padding-left: 15px;
}
.yacht-desc {
    font-size: 14px;
    display: block;
    width: 360px;
    margin-top: 10px;
    padding-left: 15px;
    font-weight: 400;
    line-height: 22px;
}
.more-journeys-pretext {
    text-align: center;
    width: 300px;
    display: block;
    margin: 10px auto;
}
.read-more-button {
    margin: 20px auto 50px;
    background: #00547d;
    color: #fff;
    font: 18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 18px 50px;
}
.read-more-button:hover {
    background: #024464;
}
.main-footer {
    background: url(../images/footer-bg.jpg) center top;
    height: auto;
    overflow: hidden;
    min-width: 1200px;
}
.social-networks {
    display: inline-block;
    margin: 0 13px;
    vertical-align: baseline;
}
.fb-icon {
    background: url(../images/fb-icon.svg) no-repeat;
    height: 15px;
    width: 8px;
    opacity: .5;
    z-index: 1000;
}
.fb-icon-mobile {
    background: url(../images/fb-icon-mobile.svg) no-repeat;
    height: 15px;
    width: 8px;
    margin: 0;
    opacity: 1;
    z-index: 1000;
}
.inst-icon {
    background: url(../images/inst-logo.svg) no-repeat;
    height: 14px;
    width: 14px;
    opacity: .5;
    z-index: 1000;
}
.inst-icon-mobile {
    background: url(../images/inst-logo-mobile.svg) no-repeat;
    height: 14px;
    width: 14px;
    margin: 0;
    opacity: 1;
    z-index: 1000;
}
.yt-icon {
    background: url(../images/yt_logo.svg) no-repeat;
    width: 18px;
    height: 14px;
    opacity: .48;
    z-index: 1000;
}
.yt-icon-mobile {
    background: url(../images/yt_logo-mobile.svg) no-repeat;
    width: 18px;
    height: 14px;
    margin: 0;
    opacity: 1;
    z-index: 1000;
}
.fb-icon:hover, .inst-icon:hover, .yt-icon:hover {
    opacity: 1;
}
.instructors-container .instructors-wrapper {
    margin: 0 -35px 0 0;
}
.instructors-container .instructor-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 30px;
}
.instructors-container .instructor-info {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
    width: 380px;
}
.instructors-container .instructor-info .name {
    color: #5b5b5b;
    font-size: 18px;
    line-height: 22px;
    margin: 6px 0;
    font-weight: 600;
}
.btn-to-top {
    /*display: none;*/
    width: 54px;
    height: 54px;
    background: url(../images/arrow-up.svg) center no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50%;
    position: fixed;
    right: calc(50% - 27px);
    bottom: 50px;
    z-index: 1500;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
}
.btn-to-top:hover {
    opacity: 1;
}
.sign-form-pretext, #order_cont {
    padding-bottom: 0;
    font-weight: 400;
}
.etap {
    text-align: left;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #c0d9e6;
    line-height: 0;
    box-sizing: border-box;
    padding: 5px;
    vertical-align: top;
    margin: 20px 0;
}
.race-name.custom-select select {
    font-size: 14px;
    font-weight: 600;
}
.footer-logo-wrapper {
    width: 100%;
    height: 27px;
    background: #2e2e2e;
    padding: 5px 0;
}
.sign-form-wrapper {
    margin: 0 auto;
}
.footer-logo img {
    display: block;
    width: 185px;
    height: 18px;
    margin: 4px auto;
}
.footer-content .copyright-text {
    margin-bottom: 10px;
}
@media screen
and (min-width: 600px)
and (orientation: portrait) {
    .main-header > .video-container {
        display: block;
    }
    .main-header .hidden-video {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: 100%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        z-index: -11;
        object-fit: cover;
    }
}
@media screen
and (min-width: 800px)
and (orientation: landscape) {
    .main-header > .video-container {
        display: block;
    }
    .main-header .hidden-video {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: 100%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        z-index: -11;
        object-fit: cover;
    }
}
@media screen and (min-width: 801px) {
    .main-menu {
        position: absolute;
        /* top: 22px; */
        /* left: 12%; */
        width: 80%;
        /* padding: 20px 200px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        z-index: 100000;
    }
    .main-menu .main-menu-item {
        text-transform: uppercase;
    }
    .main-header {
        position: absolute;
    }
    .landing-content {
        margin-top: 36px;
    }
    .menu-wrapper {
        height: 660px;
    }
}

@media screen and (max-width: 1024px){
    .main-header .slogan {
        margin: 30px 110px 0;
    }
}
@media screen
and (min-width: 801px)
and (max-width: 2560px) {
    .main-menu {
        width: 85%;
    }

    #go-home {
        display: none;
    }
    .main-menu-item#menu-contacts {
        flex-grow: 25;
    }
    .main-menu-item.burger {
        display: none;
    }
    #phonenum {
        padding: 0;
        flex-grow: 1;
    }
    .social-networks {
        margin: 0;
    }
    .main-header .logo {
        left: 0;
        flex-direction: row;
        position: unset;
        justify-content: center;
        display: flex;
        align-items: center;
        top: 0;
        margin-top: 26px;
    }
    .main-header .logo img {
        width: 100%;
    }
    .landing-content {
        margin-top: 280px;
    }
    .buttons-centered {
        display: flex;
        width: auto;
        margin: 50px auto 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .btn.secondary.h60 {
        /* margin-left: 30px; */
        margin-top: 0;
    }
    .arrow-down {
        margin: 60px auto;
    }
    .race-schedule {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .curs-info-block {
        display: flex;
        flex-direction: column;
    }
    .curs-content {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .curs-content.curs-content-mobile {
        display: none;
    }
    .curs-info-block .image-block {
        display: flex;
        justify-content: flex-start;
        width: 60%;
        margin-right: 30px;
        flex-direction: column;
        align-items: flex-end;
    }
    .image-block .bx-wrapper {
        max-width: 780px;
        width: 100%;
    }
    /*.stops-block {*/
    /*width: auto;*/
    /*padding-top: 10px;*/
    /*align-self: end;*/
    /*}*/
    .stops-block h3 {
        font-weight: 400;
    }
    .curs-info-block .curs-data {
        display: flex;
        flex-direction: column;
        width: auto;
        float: none;
    }
    .curs-info-block .curs-data .secondary {
        position: absolute;
        bottom: 0;
        right: 100%;
        margin-right: 21px;
        margin-left: 20px;
        width: 89%;
    }
    .content-block-centered {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        max-width: 1180px;
    }

    .landing-content {
        margin: 0 auto;
        width: auto;
    }
    .race-schedule-mobile {
        display: none;
    }
    .content-block-centered .race-schedule-mobile {
        display: none;
    }
    .instructors-container .instructors-wrapper {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .instructors-container .instructor-info {
        /* width: calc(32vw - 16px); */
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .instructors-container .instructor-image {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        margin-bottom: 30px;
    }
    .instructors-container .instructor-info .instructor-text {
        font-size: 14px;
        line-height: 22px;
        color: #5b5b5b;
        font-weight: 400;
    }
    .instructors-container .instructor-info:last-child {
        margin-right: 0;
    }
    .instructors-container .instructor-info:nth-child(3), .instructors-container .instructor-info:nth-child(6) {
        margin-right: 0;
    }
    .yacht-settings .photo-report-wrapper {
        display: flex;
        flex-direction: row;
    }
    .yacht-settings .photo-report-wrapper .about-yacht {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }
    .about-yacht .yacht {
        float: none;
        width: auto;
        margin-top: 0;
        padding-left: 0;
    }
    .about-yacht .yacht-model {
        float: none;
        width: auto;
        padding-left: 0;
    }
    .about-yacht .yacht-desc {
        float: none;
        width: auto;
        padding-left: 0;
    }
    .main-footer {
        min-width: 0;
    }
    .footer-content {
        color: #ffffff;
        margin: 0 auto;
        max-width: 880px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-contact-info {
        max-width: 880px;
        margin: 0 auto;
        font-size: 21px;
        line-height: 34px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer-contact-info .item {
        float: left;
        width: auto;
    }

    .main-header .mobile-menu-wrapper {
        display: none;
    }
}
@media screen
and (min-width: 801px)
and (max-width: 1400px) {
    .main-header .logo {
        margin-top: 60px;
    }

}
@media screen
and (min-width: 801px)
and (max-width: 1023px){
    .content-block-centered .race-schedule {
        width: auto;
    }
}
@media screen
and (min-width: 801px) {
    .instructors-container .instructors-wrapper {
        margin: 0;
        display: flex;
        flex-direction: row;
        /*justify-content: space-evenly;*/
        flex-wrap: wrap;
    }
    .instructors-container .instructor-info {
        width: calc(33% - 15px);
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(33% - 15px);
        margin: 0 10px 30px;
    }
    .instructors-container .instructor-info:nth-child(3), .instructors-container .instructor-info:nth-child(6) {
        margin-right: 0;
    }
}
@media screen and (max-width: 800px) {
    body {
        min-width: 0;
        -webkit-overflow-scrolling: touch;
    }
    .content-block-centered {
        width: 100%;
        max-width: 768px;
        padding: 0;
    }
    .landing-content {
        margin: 0 auto;
    }
    .main-header {
        height: 960px;
        width: 100%;
        overflow: hidden;
    }
    .main-header .slogan {
        margin: 0 30px;
    }
    .menu-wrapper {
        padding: 0;
        margin: 0 auto;
        display: flex;
    }
    .main-menu {
        position: fixed;
        width: 100%;
        padding: 30px 60px 60px 60px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        z-index: 1000;
        text-transform: uppercase;
    }
    .main-menu-item {
        margin-left: 10px;
    }
    .main-menu-item:last-child {
        margin-right: 0;
        margin-left: 50px;
    }
    .main-menu-item#menu-booking {
        margin-left: 0;
        margin-right: 30px;
    }
    .main-menu-item#menu-contacts {
        flex-grow: 1;
        margin-left: 0;
    }
    .main-menu .social-networks {
        margin: 0 10px;
    }
    .main-menu-item.soc-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }
    .main-menu > #phonenum,
    .main-menu > #emailaddress {
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 22px;
    }
    .burger .clicked {
        width: 25px;
        height: 1px;
        z-index: 5;
    }
    .burger span {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        display: block;
        background: #9cb2c2;
        transition: .5s;
    }
    .burger:hover, .burger:hover {
        cursor: pointer;
    }
    .burger.clicked span{
        opacity: 0;
        top: 50%;
    }
    .burger.clicked span:first-child {
        opacity: 1;
        transform: translateY(10px) rotate(405deg);
    }
    .burger.clicked span:last-child {
        opacity: 1;
        transform: translateY(-10px) rotate(-405deg);
    }

    .main-header .logo {
        position: relative;
        /*margin: 0;*/
        width: 100%;
        height: auto;
        background: none;
        /*z-index: -2;*/
        left: calc(50% - 108px);
    }
    .main-header .logo img {
        width: 216px;
        height: 216px;
        position: relative;
        margin: 42px auto 20px;
    }
    .mobile-menu-wrapper {
        background: #ffffff;
        width: 100%;
        height: 60px;
        padding: 0;
        display: flex;
        box-sizing: border-box;
        position: fixed;
        box-shadow: 1px 1px 10px #555;
        justify-content: flex-start;
        align-content: space-between;
        z-index: 10000;
    }
    .main-menu {
        position: fixed;
        width: 100%;
        padding: 30px 60px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        z-index: 1000;
        text-transform: uppercase;
        align-items: center;
    }
    .menu-wrapper.mobile-menu-wrapper > .main-menu {
        padding: 10px 60px;
    }
    .main-menu-item.mobile-menu-item#menu-contacts a {
        flex-grow: 1;
        margin-left: 0;
        color: #00547d;
    }
    .mobile-menu {
        text-align: left;
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        position: relative;
        align-items: end;
    }
    .mobile-menu li {
        display: inline-block;
        margin-right: 30px;
        font-size: 18px;
    }
    .mobile-menu > li.burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 22px;
        margin-right: 30px;
        margin-left: 30px;
    }
    .mobile-menu > li.burger span {
        width: 100%;
        height: 2px;
        margin-top: -1px;
        display: block;
        background: #00547d;
        transition: .5s;
    }
    .mobile-menu-item.burger span {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        display: block;
        background: #00547d;
        transition: .5s;
    }
    .mobile-menu > li.burger span:first-child {
        top: 3px;
    }
    .mobile-menu > li.burger span:last-child {
        top: 16px;
    }
    .mobile-menu > li.burger.clicked span {
        opacity: 0;
        top: 50%;
    }
    .mobile-menu > li.burger .clicked span:first-child {
        opacity: 1;
        transform: rotate(405deg);
        margin-top: 19px;
    }
    .mobile-menu > li.burger .clicked span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
        margin-bottom: 0;
    }
    #mobile-booking {
        margin-right:30px;
    }
    #mobile-contacts {
        margin-right: 60px;
    }
    #mobile-contacts a {
        color: #00547d;
    }
    .main-header p {
        width: 600px;
    }
    .arrow-down {
        margin: 240px auto;
    }
    .mobile-logo {
        width: 60px;
        height: 40px;
        top: 8px;
    }
    .mobile-menu > li > a {
        text-transform: uppercase;
    }
    .overscreen-menu {
        display: none;
        background: white;
        position: fixed;
        /*top: 0;*/
        /*left: 0;*/
        width: 100%;
        height: 100%;
        transition: .5s;
        transition-delay: .5s;
        /*overflow: hidden;*/
        flex-direction: column;
        z-index: 11000;
        top: 0;
        left: 0;
    }
    .overscreen-menu > .mobile-top-nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0;
        width: 100%;
        height: 70px;
        align-items: center;
        align-content: center;
    }
    .overscreen-menu > .mobile-top-nav > .mobile-logo-enlarged {
        background: url(../images/logo_marinero.svg) no-repeat left;
        width: 90px;
        height: 80px;
        z-index: 1000;
        flex-grow: 2;
        margin-left: 60px;
        margin-top: 43px;
    }
    .overscreen-menu > .mobile-top-nav > .mobile-top-nav-socials {
        /* flex-grow: 1; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 130px;
        margin-right: 45px;
        margin-top: 18px;
        /*padding-right: 150px;*/
        /* padding-left: 280px; */
    }
    .overscreen-menu > .mobile-top-nav > .mobile-top-nav-socials > div > a {

    }
    .overscreen-menu > .mobile-top-nav >  .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 22px;
        margin-right: 60px;
    }
    .overscreen-menu > .mobile-top-nav > .burger span {
        width: 100%;
        height: 2px;
        margin-top: -1px;
        display: block;
        background: #00547d;
        transition: .5s;
    }
    .overscreen-menu > .mobile-top-nav >  .burger span:first-child {
        top: 3px;
    }
    .overscreen-menu > .mobile-top-nav >  .burger span:last-child {
        top: 16px;
    }
    .overscreen-menu > .mobile-top-nav > .burger.clicked span {
        opacity: 0;
        top: 50%;
    }
    .overscreen-menu > .mobile-top-nav > .burger.clicked span:first-child {
        opacity: 1;
        transform: rotate(405deg);
        margin-top: 19px;
    }
    .overscreen-menu > .mobile-top-nav > .burger.clicked span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
        margin-bottom: 0;
    }
    .overscreen-menu > ul {
        text-align: center;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-top: 9vh;
    }
    .overscreen-menu > ul > li {
        opacity: 1;
        transition: .5s;
        transition-delay: 0s;
        margin-right: 0;
    }
    .overscreen-menu > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: #00547d;
        font-weight: 400;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 18px;
        display: block;
        padding: 1.5vh;
    }
    .overscreen-menu > ul > li > a.btn.h60 {
        width: 330px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .overscreen-menu > .burger.clicked ~ nav {
        height: 100%;
        transition-delay: 0s;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .overscreen-menu > .burger.clicked ~ nav > ul > li {
        opacity: 1;
        transition-delay: .5s;
        height: auto;
        margin: 5px;
    }
    .curs-info-block .image-block {
        width: calc(50% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }
    .curs-info-block .image-block .bx-wrapper {
        height: 190px;
        position: relative;
        max-width: 780px;
    }
    .curs-info-block .image-block .bx-viewport {
        height: 190px;
    }

    .curs-info-block .curs-data .secondary {
        position: absolute;
        bottom: 10PX;
        right: calc(100% - 10px);
        margin-right: 15px;
        width: calc(100% - 20px);
    }
    .instructors-container .instructors-wrapper {
        align-items: flex-start;
        padding: 0;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
    }
    .instructors-container .instructor-info {
        display: flex;
        vertical-align: top;
        margin: 0 0 30px 0;
        width: auto;
        max-width: 360px;
        flex-direction: column;
        flex: 0 0 calc(50% - 30px);
    }
    /*.instructors-container .instructor-info:last-child {*/
        /*margin: 0 0 0 15px;*/
    /*}*/
    .instructors-container .instructor-image {
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;
        margin-bottom: 30px;
    }
    .yacht-settings .photo-report-wrapper {
        margin: 30px 15px 15px;
    }
    .photo-report-wrapper .big-image {
        margin-right: 15px;
        width: calc(50% + 15px);
        margin-bottom: 30px;
    }
    .big-image > img {
        width: 100%;
        height: 435px;
        object-fit: cover;
    }
    .photo-report-wrapper .two-images {
        margin-right: 0;
        width: calc(50% - 30px);
        margin-bottom: 30px;
    }
    .photo-report-wrapper .two-images .small-image {
        display: block;
        width: 100%;
    }
    .small-image > img {
        width: calc(100%);
        height: 209px;
        margin-right: 0;
        object-fit: cover;
    }
    .yacht {
        padding: 0 15px 0 0;
        float: none;
    }
    .yacht-model {
        padding-left: 0;
        margin-bottom: 10px;
    }
    .yacht-desc {
        padding-left: 0;
        float: none;
    }
    .race-schedule .curs-content {
        padding: 0;
        margin: 10px;
    }
    .stops-block {
        width: auto;
        padding: 10px;
        margin-top: 10px;
    }
    .travel-slider-container .travel-slider li img {
        width: 100%;
        height: auto;
    }
    .curs-info-block .curs-data {
        width: calc(50% - 20px);
        position: relative;
        padding: 10px;
    }
    .read-more-button {
        font: 21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding: 18px 60px;
    }
    .main-footer {
        min-width: 0;
        /*height: calc(100% - 369px);*/
    }
    .footer-menu {
        width: 100%;
        display: none;
    }
    .footer-menu .footer-menu-item {
        margin: 0 9px;
    }
    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-contact-info {
        width: auto;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .footer-contact-info .item.address {
        width: 39%;
    }
    .footer-contact-info .item.address p {
        margin: 0 0 10px 0;
        line-height: 24px !important;
        font-size: 16px;
    }
    .footer-contact-info .item {
        float: left;
        width: 30%;
        font-size: 16px;
    }
    .footer-contact-info .item.email {
        font-size: 20px;
        width: 25%;
    }
    .footer-contact-info .item.phone {
        line-height: 29px;
    }
    .footer-partners-list {
        margin: 0;
    }
    .mobile-menu-wrapper-landscape {
        width: 100%;
        flex-direction: column;
        background: #fff;
        position: fixed;
        box-shadow: 1px 1px 10px #555;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .mobile-main-menu-landscape {
        padding: 10px 20px;
    }
    .mobile-menu-item-landscape {
        margin-left: 0;
    }
    .mobile-menu-item-landscape#menu-booking {
        margin-left: 20px;
        margin-right: 20px;
    }
    .mobile-menu-item-landscape#menu-contacts {
        margin-left: 0;
    }
    .mobile-menu-item-landscape.soc-icons {
        margin: 0;
    }
    .mobile-menu-item-landscape.burger {
        margin-right: 0;
        margin-left: 30px;
    }
}

@media screen and (max-width: 600px) {
    .menu-wrapper.mobile-menu-wrapper > .main-menu {
        padding: 10px 20px;
    }
    .main-menu {
        padding: 30px 20px;
    }
    .main-menu-item.logo.mobile-menu-item#go-home {
        flex-grow: 5;
    }
    .main-menu-item.mobile-menu-item#menu-booking {
        display: none;
    }
    .main-menu-item.mobile-menu-item#menu-contacts {
        display: none;
    }
    .main-menu-item:last-child {
        margin-right: 10px;
        margin-left: 40px;
    }
    .buttons-centered {
        display: flex;
        width: 100%;
        margin: 70px auto 0;
        flex-direction: column;
    }
    .buttons-centered > .btn.primary.h60 {
        width: 80vw;
        margin: 0 auto;
    }
    .buttons-centered > .btn.secondary.h60 {
        background-color: white;
        color: #00a9db;
        padding: 18px 94px;
        margin: 20px auto;
        width: 80vw;
    }
    .main-header p {
        width: 90vw;
    }
    .arrow-down {
        margin: 40px auto;
    }
}
@media screen and (max-width: 414px) {
    /*html, body {*/
        /*overflow-x: hidden;*/
        /*overflow-y: scroll;*/
    /*}*/
    .curs-content-mobile {
        display: flex;
    }
    .main-header {
        width: auto;
        height: 100%;
        max-width: 414px;
        min-height: 568px;
    }
    .main-header .header-gradient {
        width: 100%;
    }
    .main-header .menu-wrapper {
        margin: 0;
    }
    .menu-wrapper.mobile-menu-wrapper > .main-menu {
        padding: 0;
    }
    /*.main-menu-item.soc-icons {*/
    /*margin: 0;*/
    /*}*/
    .menu-wrapper {
        width: 100%;
        height: 60px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 1000;
        position: fixed;
    }
    .main-menu {
        position: fixed;
        max-width: 414px;
        width: 100%;
        height: 60px;
        padding: 20px 0;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
    }
    .main-menu .logo {
        margin-right: 30px;
        margin-top: 12px;
        width: 90px;
        height: 60px;
    }
    .main-menu #menu-booking,
    .main-menu #menu-contacts {
        display: none;
    }
    .mobile-menu-wrapper {
        background: #fff;
        /*width: 100%;*/
        /*height: 60px;*/
        /*padding: 0;*/
        /*!*display: none;*!*/
        /*box-sizing: border-box;*/
        position: fixed;
        /*!*position: -webkit-sticky;*!*/
        box-shadow: 1px 1px 10px #555;
        /*flex-direction: row;*/
        /*align-items: center;*/
        top: 0;
        left: 0;
        z-index: 100;
        /*transform: translate3d(0,0,0);*/
    }
    .mobile-menu-item {
        color: #00547d;
        display: flex;
    }
    .burger.mobile-menu-item span {
        background: #00547d;
    }
    .mobile-logo{
        display: flex;
        align-self: center;
        flex-grow: 2;
        width: 60px;
        height: 40px;
        position: fixed;
        top: 10px;
    }
    .mobile-logo img {
        width: 60px;
        height: 40px;
    }
    .mobile-menu {
        padding-left: 0;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        margin-left: 150px;
    }
    .mobile-menu-item {
        margin-left: 150px;
    }
    .mobile-menu-item:first-child {
        margin-left: 20px;
    }
    /*.main-menu .social-networks {*/
    /*margin: 0 10px;*/
    /*opacity: 1;*/
    /*color: #000000;*/
    /*z-index: 100;*/
    /*}*/
    .mobile-menu > li.burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 22px;
        margin-right: 20px;
        margin-left: 30px;
    }
    .mobile-menu li {
        display: inline-block;
        margin-right: 30px;
        font-size: 18px;
        height: auto;
    }
    .mobile-menu #mobile-booking,
    .mobile-menu #mobile-contacts {
        display: none;
    }
    a.logo {
        display: none;
    }
    .overscreen-menu {
        position: fixed;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100vh;
    }
    .overscreen-menu > .mobile-top-nav {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        height: 70px;
    }
    .overscreen-menu > .mobile-top-nav > .mobile-logo-enlarged {
        background: url(../images/logo_marinero.svg) no-repeat;
        width: 89px;
        height: 60px;
        z-index: 1000;
        /* flex-grow: 2; */
        margin-left: 20px;
        margin-top: 13px;
    }
    .overscreen-menu > .mobile-top-nav > .mobile-top-nav-socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 102px;
        margin-right: 10px;
        margin-left: 60px;
    }
    .overscreen-menu > .mobile-top-nav > .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 42px;
        height: 22px;
        margin-left: 10vw;
        margin-top: 0;
        margin-right: 20px;
    }
    .overscreen-menu > ul > li > a.btn.h60 {
        margin-bottom: 5vh;
        margin-top: 2.5vh;
    }

    .main-header .slogan {
        font: 24px 'Open Sans', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 20px 28px 0;
        padding: 0 10px;
    }
    .main-header p {
        width: 330px;
        font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 20px;
        margin-top: 10px;
    }
    .main-menu-item:last-child {
        margin-right: 20px;
        margin-left: 40px;
    }
    .content-block-centered {
        /*width: 100%;*/
        padding: 0;
    }
    .landing-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 52px auto 0;
    }
    .landing-content > a.logo {
        display: none;
    }
    .buttons-centered {
        display: flex;
        width: 100%;
        margin: 10px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttons-centered .btn.secondary.h60 {
        margin: 15px auto;
    }
    .arrow-down {
        margin: 25px auto;
    }
    .btn-to-top {
        z-index: 99;
        right: 43%;
        bottom: 30px;
    }
    main {
        width: 100%;
        min-width: 0;
    }
    main .description {
        margin: 15px 0;
    }
    main .description p {
        margin: 15px;
        text-align: center;
    }
    main .map {
        padding: 0;
    }
    main .map p {
        margin:0 15px 10px;
    }
    main .content-separator {
        margin: 60px 0 15px;
    }
    .content-separator h1, .content-separator h2 {
        font-size: 28px;
        padding: 0 23px;
        display: inline-block;
        font-weight: 300;
        margin: 0;
    }
    main .content-separator#route:before {
        content: '';
        position: absolute;
        height: 2px;
        background: #c0d9e6;
        left: 0;
        right: 0;
        top: 32px;
    }
    main .content-separator#booking {
        margin: 60px 0 15px;
        height: auto;
    }
    main .content-separator#route {
        margin: 30px 0 10px;
        height: auto;
    }
    main .content-separator#route h2, main .content-separator#booking h2 {
        padding: 0 15px;
        margin: 0;
        width: 66%;
    }
    main .content-separator#route h2:before, main .content-separator#booking h2:before {
        left: 0;
        top: 28px;
    }
    main .content-separator#route h2:after, main .content-separator#booking h2:after {
        right: 0;
        top: 28px;
    }
    main .content-separator#booking:before {
        top: 32px;
    }
    .curs-info-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .curs-info-block .curs-data {
        padding: 0;
        width: 100%;
    }
    .curs-info-block .curs-data .name {
        color: #00a9db;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .curs-info-block .curs-data .name .name-link {
        font-size: 22px;
        line-height: 30px;
    }
    .curs-info-block .trip-description {
        margin: 0 0 15px;
    }
    .curs-info-block .image-block {
        width: 100%;
        margin: 0;
    }
    .curs-info-block .image-block .bx-wrapper {
        height: 100%;
    }
    .curs-info-block .image-block .bx-viewport {
        height: 190px;
        width: 100%;
    }
    .curs-info-block .curs-data .column-min-height {
        min-height: 0;
    }
    .curs-info-block .curs-data form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
    }
    .curs-info-block .curs-data .secondary {
        position: relative;
        bottom: 0;
        right: 0;
        margin-right: 0;
        width: 100%;
    }
    .curs-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0 15px;
    }
    .curs-content.curs-content-desktop {
        display: none;
    }
    .race-schedule {
        display: none;
    }
    .race-schedule-mobile {
        /*width: 100%;*/
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .race-schedule-mobile .mobile-table-separator {
        color: #c0d9e6;
        border: 1px solid;
        margin: 15px;

    }
    .race-schedule-mobile .mobile-table-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 15px;
        /*border: 2px solid #c0d9e6;*/
        border-collapse: collapse;
    }
    .mobile-table-content .row-1,
    .mobile-table-content .row-2,
    .mobile-table-content .row-3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .mobile-table-content .row-2, .mobile-table-content .row-3 {
        margin-top: 15px;
    }
    .mobile-table-content .column-header {
        font: 12px "Open Sans", Calibri, Tahoma, Verdana, sans-serif;
        font-weight: 700;
        color: #c0d9e6;
    }
    .mobile-table-content .row-2,
    .mobile-table-content .row-3 {
        display: none;
    }
    .mobile-table-content .column-1 {
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
        /*border: 1px solid #c0d9e6;*/
        flex-basis: 20px;
        min-width: 10%;
        padding: 0 5px;
    }
    .mobile-table-content .column-2 {
        flex-grow: 4;
        flex-basis: 100px;
        min-width: 50%;
    }
    .mobile-table-content .row-1 .column-2 .column-content {
        font-size: 16px;
        font-weight: 400;
        color: #5b5b5b;
    }
    .mobile-table-content .row-2 .column-2 .column-content {
        font-size: 16px;
        color: #00a9db;
        font-weight: 400;
    }
    .mobile-table-content .column-3 {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 7%;
    }
    .mobile-table-content > .row-1 > .column-1 > .column-content {
        font-size: 16px;
        font-weight: 700;
        color: #00a9db;
    }

    .open-arrow {
        display: block;
        border: solid #c0d9e6;
        border-width: 0 2px 2px 0;
        padding: 5px;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        transition: opacity 1s;
    }
    .close-arrow {
        display: block;
        border: solid #c0d9e6;
        border-width: 0 2px 2px 0;
        padding: 5px;
        width: 10px;
        height: 10px;
        transform: rotate(-135deg) translateX(-10px) translateY(-10px);
        transition: opacity 1s;
    }
    .instructors-container .instructors-wrapper {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
    .instructors-container .instructor-info {
        display: block;
        width: 100%;
        margin: 0 0 30px;
        max-width: unset;
        height: 340px;
    }
    .instructors-container .instructor-info:last-child {
        margin: 0;
    }
    .instructors-container .instructor-image {
        margin-bottom: 15px;
    }
    .instructors-container .instructor-info .name {
        margin: 0 15px 11px;
    }
    .instructors-container .instructor-info .instructor-text {
        font-size: 14px;
        line-height: 22px;
        color: #5b5b5b;
        margin: 0 15px;
    }
    .yacht-settings .photo-report-wrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .photo-report-wrapper .big-image {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    .photo-report-wrapper .two-images {
        margin-right: 0;
        width: 100%;
        margin-bottom: 0;
    }
    .photo-report-wrapper .two-images .small-image {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .photo-report-wrapper .two-images .small-image + .small-image {
        margin-top: 0;
    }
    .about-yacht {
        display: flex;
        flex-direction: column;
    }
    .yacht {
        padding: 0;
        float: none;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        margin: 0 15px;
    }
    .yacht-model {
        padding-left: 0;
        margin: 0 15px 10px;
        width: auto;
    }
    .yacht-desc {
        padding-left: 0;
        float: none;
        margin: 0 15px;
        width: auto;
    }
    .content-separator#booking {
        margin: 60px 50px 40px;
        height: auto;
    }
    .sign-form-pretext, #order_cont {
        font-size: 15px;
        font-weight: 600;
        color: #676767;
    }
    .etap {
        margin: 15px;
    }
    form#form_order {
        margin: 0 15px;
    }
    .trip-table {
        margin-bottom: 15px;
    }
    .curs-content-mobile .curs-data .name {
        margin-top: 10px;
    }
    .stops-block .stop-names {
        height: auto;
    }
    .curs-info-block .form-enter-wrapper {
        margin-top: 15px;
    }
    .map {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }
    .map img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .sign-form-wrapper {
        width: auto;
        margin: 0 auto;
    }
    footer.main-footer .footer-contact-info .item {
        width: auto;
        padding: 0 41px;
        text-align: center;
        margin-bottom: 30px;
    }
    footer.main-footer .footer-partners-list {
        display: flex;
        flex-direction: column;
        line-height:normal;
        height: auto;
        margin: 0 0 15px;
    }
    .footer-partners-list .partners-list-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 20px 60px;
    }
    .main-footer {
        min-width: 0;
        height: auto;
        background-size: cover;
    }
    .main-footer .footer-contact-info {
        width: 100%;
        padding: 0;
        flex-direction: column;
        display: flex;
        font-size: 18px;
        text-align: center;
    }
    .main-footer .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-footer .footer-contact-info {
        width: 100%;
        padding: 0;
        font-size: 18px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .main-footer .footer-contact-info:last-child {

    }
}
@media screen and (max-width: 375px) {
    .buttons-centered > .btn.primary.h60,
    .buttons-centered > .btn.secondary.h60 {
        padding: 20px 10px;
        width: 81.5vw;
    }
    .main-header .slogan {
        font: 22px 'Open Sans', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 30px 10px 0;
        padding: 0 10px;
    }
    .main-header p {
        width: auto;
        padding: 0 10px;
    }
    /*.main-menu-item {*/
    /*margin-left: 0;*/
    /*}*/
}
@media screen
and (max-width: 800px)
and (orientation: landscape) {
    body {
        font-size: 16px;
    }
    .menu-wrapper > .main-menu {
        padding: 20px 30px;
    }
    .menu-wrapper.mobile-menu-wrapper > .main-menu {
        padding: 10px 30px 3px 30px;
    }
    .mobile-menu-wrapper {
        height: 45px;
    }
    .menu-wrapper > .main-menu > #go-home {
        display: none;
    }
    .menu-wrapper.mobile-menu-wrapper > .main-menu > .logo#go-home {
        width: 40px;
        margin: 0;
        flex-grow: 2;
        display: block;
    }
    .menu-wrapper > .main-menu-item.logo#go-home {
        width: 60px;
        margin: 0 20px 0 0;
    }
    .mobile-logo {
        width: 60px;
        height: 40px;
        top: 1px;
        position: absolute;
    }
    .main-menu-item#menu-booking {
        margin-left: 0;
        margin-right: 10px;
    }
    .main-header {
        height: auto;
    }
    .main-header .logo {
        position: relative;
        width: auto;
        height: auto;
        background: none;
        margin: 45px auto 0;
        left: 0;
    }
    .main-header .logo img {
        width: auto;
        height: 120px;
        position: relative;
        margin: 0 auto;
    }
    .main-header .landing-content p {
        font-size: 15px;
        line-height: 20px;
    }
    .curs-info-block .trip-description {
        font-size: 16px;
    }
    .arrow-down {
        margin: 60px auto;
    }
    .buttons-centered {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    .buttons-centered > .btn.h60 {
        margin-left: 8px;
    }
    main .description p {
        margin: 15px 8vw;
        text-align: center;
    }
    .instructors-container .instructor-info {
        display: inline-block;
        vertical-align: top;
        margin: 0 auto 30px;
        width: 303px;
        max-width: 100%;
    }
    .instructors-container .instructor-info:last-child {
        margin: 40px auto 0;
    }
    .instructors-container .instructor-info .instructor-text {
        font-size: 16px;
        height: 110px;
    }
    .instructors-container .instructor-info:last-child > .instructor-text {
        height: 90px;
    }
    .yacht-desc {
        font-size: 15px;
    }
    .btn-to-top {
        bottom: 10px;
    }
    .footer-partners-list {
        height: 100%;
    }
    .footer-partners-list .partners-list-item {
        margin: 0;
    }
    .footer-contact-info .item.address {
        width: 35%;
    }
    .footer-contact-info .item.email {
        font-size: 20px;
        width: 30%;
    }
}
@media screen
and (max-width: 320px)
and (orientation: portrait) {
    .main-menu {
        position: fixed;
        max-width: 320px;
        width: 100%;
        height: 60px;
        padding: 20px 0;
    }
    .main-menu .social-networks {
        margin: 0 6px;
    }
    .main-menu .burger {
        margin-left: 20px;
    }
    .main-header .slogan {
        margin: 10px 10px 0;
    }
    .logo img {
        width: 55px;
        height: 37px;
        margin-right: 0;
    }
    .btn-to-top {
        right: 10px;
        bottom: 10px;
    }
    .mobile-menu li {
        margin-right: 10px;
    }
    .mobile-menu > li.burger {
        margin-right: 20px;
        margin-left: 10px;
    }
    .main-header p {
        width: auto;
        margin: 10px 10px 0;
    }
    .overscreen-menu > ul > li > a.btn.h60 {
        margin-bottom: 4vh;
        margin-top: 2vh;
        width: 280px;
    }
    .overscreen-menu > ul {
        margin-top: 4vh;
    }
    .overscreen-menu > .mobile-top-nav > .burger {
        margin-left: 8vw;
    }

    .overscreen-menu > .mobile-top-nav > .burger.clicked span:first-child {
        margin-top: 21px;
    }
    .overscreen-menu > .mobile-top-nav > .burger.clicked span:last-child {
        margin-left: 0;
    }
    .curs-content + .inner-separator {
        margin: 20px 0;
    }
    main .content-separator {
        margin: 60px 0 40px;
    }
    main .content-separator#route h2, main .content-separator#booking h2 {
        width: 78%;
    }
    .instructors-container .instructor-info {
        height: 360px;
    }
}
